{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href = "layout.css">
    <title>Recipe</title>
</head>
<body>
    <nav>
        <div style="text-align: center; opacity: 1;">
            <h2>먹고는 살아야지</h2>
        </div>
        <div style="display: flex; list-style-type: none;">
        <ul></ul><a href="#">Home</a></ul>
        <ul><a href="{% url 'recipe:list' %}">Recipe</a></ul>
        <ul><a href="#">Community</a></ul>
        </div>
        <div style="list-style-type: none; text-align: right; margin-right: 30px;">
        <ul> login </ul>
        <ul> Register </ul>
        </div>
        <hr style="border: solid 6px #99C576;">
    </nav>
{% block content %}
{% endblock %}