{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href = "layout.css">
    <title>Recipe</title>
</head>
    <nav>
        <div style="text-align: center; opacity: 1;">
            <img src = "{% static 'recipe/img/logo.png' %}" width="150">
        </div>
        <ul>
            <li><a herf="#">Home</a></li>
            <li><a herf="#">recipe</a></li>
            <li><a herf="#">community</a></li>
            <li><a herf="#">Home</a></li>
            <li style="text-align: right; font-size: 15px;"><a href="#">login</a></li>
            <li style="text-align: right;font-size: 15px;"><a href="#">signup</a></li>
        </ul>
        <hr style="border: solid 6px #99C576;">
    </nav>
</html>