<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href = "layout.css">
    <title>Recipe</title>
</head>
<body>
    <nav>
        <div style="text-align: center; opacity: 1;">
            <img src = "그림6.jpg" width="150">
        </div>
        <ul>
            <li><a herf="#">Home</a></li>
            <li><a herf="#">recipe</a></li>
            <li><a herf="#">community</a></li>
            <li><a herf="#">Home</a></li>
            <li style="text-align: right; font-size: 15px;"><a href="#">login</a></li>
            <li style="text-align: right;font-size: 15px;"><a href="#">signup</a></li>
        </ul>
        <hr style="border: solid 6px #99C576;">
    </nav>
    <section>
    <div class="btn-group" style="margin-top: 150px; margin-left: 30px;">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          #계란 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">해시태그1</a></li>
          <li><a href="#">해시태그2</a></li>
          <li><a href="#">해시태그3</a></li>
        </ul>
    </div>
    <div class="btn-group" style="margin-top: 150px; margin-left: 30px;">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          계란말이 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">해시태그1</a></li>
          <li><a href="#">해시태그2</a></li>
          <li><a href="#">해시태그3</a></li>
        </ul>
    </div>
    </section>
    <article style="float: left;">
        <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTA1MThfNjAg%2FMDAxNjIxMzA3MzgzNzM0.cMbRRtOXuVvTEuMF4IBK6gmmHXD0DoIa8z3BCDxzLtEg.nlhhnKsbKkg09kB4-oaYg7oPDPj3y7O7Q7kyzSYjrpUg.JPEG.amam77%2F1621307382767.jpg&type=a340">
    </article>
    <table border = "1">
        <th>테이블</th>
        <tr>
            <td> 1번 조리법</td>
        </tr>
        <tr>
            <td> 1번 조리법</td>
        </tr>
        <tr>
            <td> 1번 조리법</td>
        </tr>
        <tr>
            <td> 1번 조리법</td>
        </tr>
    </table>
</body>
</html>