{% extends 'community/layout.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <title>음식 목록</title>
    </head>
    <body style="margin-top: 100px; display: block;">
        <h1>게시판 페이지입니다</h1>


        {% for foods in foods.all %}
            <div style="margin: 100px;justify-content: space-around; ">
            
                <a href="{% url 'recipe:foodinfo' foods.id %}" style="border-style: solid; border-width: 5px; padding: 30px; width: 350px; height: 350px;">{{ foods.title }}</a>
                </div>
            
        {% endfor %}
        
        <div style=" margin: 25px; text-align: center;">
            <a href="{% url 'recipe:create' %}"> 작성하기 </a>
            <form class="form-inline my-2 my-lg-0" action="{% url 'recipe:search' %}" method="post">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <hr>
            </div>
    </body>
</html>
{% endblock %}


