{% extends 'community/layout.html' %}
{% load static %}
{% block extrahead %}
<link rel='stylesheet' href="{% static 'recipe/css/list.css'%}">
{% endblock %}
{% block content %}
<html>
    <head>
        <title>음식 목록</title>
        <style>
            td {
                border: 1px solid gray;
            }
            #retabl {
                width: 850px;
            }
            #rename {
                width: 850px;
            }
        </style>
    </head>
    <body>
        <h1 style="margin: 55px;">자신만의 레시피를 공유해 보세요!</h1>
        

        <table id="retable">
            <thead>
                <tr>
                    <th>레시피</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                {% for food in foods.all %}

                <tr>
                    <td id="rename">    
                    <a href="{% url 'recipe:foodinfo' food.id %}">{{ food.title }}</a>
                </td>
                <td>
                    {{food.hits}}
                </td>
                </tr>
        {% endfor %}
        </tbody>
        </table>
        <div style="margin: 25px;">
            <a href="{% url 'recipe:create' %}"> 작성하기 </a>
            <form class="form-inline my-2 my-lg-0" action="{% url 'recipe:search' %}" method="post">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <hr>
            </div>
    </body>
</html>
{% endblock %}


