{% extends 'community/layout.html' %}
{% load static %}
{% block content %}
{% if not foods %}
<div style="text-align: center; text-align: center;">
<h1>검색 결과가 없습니다</h1>

{% else %}

{% for food in foods.all %}
<div class="container" style="text-align: center;"> 
    <div class="card">
        <div class="card-body">
            <h1>{{ food.title }}</h1>
            <a href="{% url 'recipe:foodinfo' food.id %}"> 자세히 보기</a> 
        </div>
    </div>
</div>
<br>
{% endfor %}

{% endif %}
</div>
{% endblock %}