{% extends 'community/layout.html' %}
{% load static %}

{% block extrahead %}
    <title>Profile</title>
    <link rel='stylesheet' href="{% static 'accounts/css/signup.css'%}">
    <style>
        .container{
            margin-top: 100px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">비밀번호 변경</h1>
    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_change_form.as_p }}
        <button type="submit" class="btn btn-primary"onclick="location.href='people'">수정</button>
    </form>
</div>
{% endblock %}