{% extends 'community/layout.html' %}
{% load static %}

{% block extrahead %}
    <title>Login</title>
        <link rel='stylesheet' href="{% static 'accounts/css/login.css'%}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <img src = "{% static 'accounts/images/Logo.png' %}">
                <br>
                <form method="POST" action=".">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form-group">
                        <!-- <label for="{{field.id_for_label}}">{{field.label}}</label> -->
                        <input type="{{ field.field.widget.input_type}}" class="form-control" id="{{field.id_for_label}}"
                        placeholder="{{field.label}}" name="{{field.name}}">
                    </div>
                    <!-- 에러메세지가 있는 경우 -->
                    {% if field.errors %}
                        <span style="color: red; text-align: start;">{{field.errors}}</span>
                    {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">로그인</button>
                    <p> <a  onclick="location.href='/accounts/signup'">아직 회원이 아닌가요?</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}