{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link rel='stylesheet' href="{% static 'accounts/css/login.css'%}">


</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1>SignUp</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                {{error}}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <form method="POST" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">이름을 입력하세요</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="사용자 이름">
                    </div>
                    <div class="form-group">
                        <label for="useremail">이메일을 입력하세요</label>
                        <input type="email" class="form-control" id="useremail" name="useremail" placeholder="사용자 이메일">
                    </div>
                    <div class="form-group">
                        <label for="password">비밀번호를 입력하세요</label>
                        <input type="password" class="form-control" id="password" name = "password" placeholder="비밀번호">
                    </div>
                    <div class="form-group">
                        <label for="re_password">비밀번호를 다시 한 번 입력하세요</label>
                        <input type="password" class="form-control" id="re_password" name = "re_password" placeholder="비밀번호 확인">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</body>

</html>