div{
    text-align: center;
}

.relist{
    text-align: center;
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.rename{
    text-align: center;
    margin: 50px;
}