{% extends 'community/layout.html' %}
{% load static %}

{% block extrahead %}
<link rel='stylesheet' href="{% static 'community/css/content.css'%}">
{% endblock %}

{% block content %}
<!--여기 content임-->
<p class = "cook_share">
    Review
</p>
<div id="contain">
    <div class="best_writing">
        <div class="inner_content">
            Best 게시물
        </div>
        <hr>
    </div>
    <br>
    <div class="container">
        <div>
            <div class="ractangle">
                <img src="https://blog.kakaocdn.net/dn/kAZgq/btqQzRFyXuO/Dg2fSKaU4ykGl88lxKC9zk/img.jpg" width = "180" height="180" alt="이미지">
            </div>
            <div class="otherfont3">2</div>
        </div>

        <div>
            <div class="ractangle2">
                <img src="https://news.nateimg.co.kr/orgImg/kr/2020/11/07/ed94bcec9e90.jpg" width ="200" height="200" alt="이미지">
            </div>
            <div class="otherfont3">1</div>
        </div>

        <div>
            <div class="ractangle">
                <img src="http://img.segye.com/content/image/2021/01/07/20210107516500.jpg" width ="180" height="180" alt="이미지">
            </div>
            <div class="otherfont3">3</div>
        </div>

    </div>
</div>



<!--여기부터 게시글 목록들 좌라락 나옴-->
<div class="ccontainer">
    {% for posts in boards %}
    <ul>
        <li>
            <a id="{{posts.id}}" href="#modal_{{posts.id}}">
                <div class="image" onclick="change('{{posts.title}}','{{posts.content}}','{{posts.image}}')">
                    {% if posts.image %}
                    <div id="images">
                        <img src="{{posts.image.url}}" width="200" height="200" alt="이미지">
                    </div>
                    {% endif %}
                </div>
            </a>
            <div class="title">
                <span>
                    <div>{{posts.title}}</div>
                </span>
            </div>
            <div class="another_content">
                <div class="container_title">
                    {{ posts.content }}
                </div>
                <div class="writer">
                    {{posts.writer}}
                </div>
            </div>
        </li>
    </ul>
    {% endfor%}
</div>

<br>
<br>


<!--footer-->
<div>
    <div class="footer">
        <form action="" method='GET'>
            <input class="search_div" type="text" name = "search_key" value ="{{search_key}}">
            <input class="search_button"type ="submit" value = "Search">
        </form>
        <div class="button_contain">
            <a href="{% url 'community:new' %}" class="button">
                글 쓰기 +
            </a>
        </div>
    </div>
</div>

<!--next_page-->
<div class="page">
    {% if boards.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{boards.previous_page_number}}">Previous</a>
    {% endif %}

    <span>{{boards.number}}</span>
    <span>of/</span>
    <span>{{boards.paginator.num_pages}}</span>

    {% if boards.has_next %}
    <a href="?page={{boards.next_page_number}}">Next</a>
    <a href="?page={{boards.paginator.num_pages}}">Last</a>
    {%endif%}
</div>



<!--modal-->
<div class="dimmed" id="modal_background">

    <div style="flex-direction: column;">

        <div class="close" onclick="change1()" onmouseover="setCursor()">
            <div id="x">
                x
            </div>
        </div>
        {% for posts in boards %}
        <!--content-->
        <div id="modal_content" class="wrap">
            <div id ="left_image">
                
            </div>
            <div class="right_bar">
                <div class="side_title">
                    <!-- 제목 넣을 곳임. -->
                </div>
                <hr>
                <div class="side_content">
                    <div class="like">

                    </div>
                    <div class="real_side_content">
                        <!-- 여기다가 내용 콘텐트를 넣을 장소임.-->
                    </div>
                </div>
                <div class="comment">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<br>

<script>
    function change(title,content,picture) {
        document.getElementsByClassName('side_title')[0].textContent = title;
        document.getElementsByClassName('real_side_content')[0].textContent = content;
        if(picture < 5){
            document.getElementById('left_image').innerHTML = "<img src='https://theopma.ca/wp-content/uploads/2020/07/noimage.png' width = 1000 height = 600/>";
        }
        else{
        document.getElementById('left_image').innerHTML = '<img src=' + "/media/" + picture + " width = 1000 height = 600/>";
        }
        document.getElementById('modal_background').style.display = "block";
        document.getElementById('modal_content').style.display = "block";
        scrollPosition = window.pageYOffset;
        let body = document.getElementsByTagName("body")[0];
        body.style.overflowY = "overlay";
        body.style.position = 'fixed';
        body.style.top = `-${scrollPosition}px`;
        body.style.width = '100%';

    }

    function change1() {
        document.getElementById('modal_background').style.display = "none";
        document.getElementById('modal_content').style.display = "none";
        let body = document.getElementsByTagName("body")[0];
        body.style.removeProperty('overflowY');
        body.style.removeProperty('position');
        body.style.removeProperty('top');
        body.style.removeProperty('width');
        window.scrollTo(0, scrollPosition);
        window.history.pushState("", "", '/community/');

    }

    function setCursor() {
        document.getElementsByClassName('close')[0].style.cursor = "pointer";
    }
</script>


{% endblock %}