{% extends 'community/layout.html' %}
{% load static %}

{% block content %}

<head>
    <link rel='stylesheet' href="{% static 'community/css/detail.css'%}">
</head>

<body>
    <div class="detail_content">
        <h2> {{ post.title }} </h2>

        <div class="content_highbar">
            <div class="name_time">
                <div class="content_highbar1">{{post.writer}} |</div>
                <div class="content_highbar2">{{ post.created_at }}</div>
            </div>
            <p style="float:right">좋아요 {{post.likes.count}}개</p>
            <a href="{% url 'community:like' post.id %}" class="scrap_button">
                {% if user in post.likes.all %}
                <svg style="float:right" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg>
                {% else %}
                <svg style="float:right" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>
                {% endif %}
            </a>
            <br>
            <br>
            <hr>
        </div>
    </div>
    <div>
        <div class="small_content">
            {% if post.image %}
            <img src="{{post.image.url}}" alt="이미지">
            {% endif %}
            <br>
            {{ post.content }}
        </div>
    </div>


    <br>
    <br>
    <br>

    <div class="comment">
        <div>
            <form method="POST" action="{% url 'community:detail' post.id %}">
                {% csrf_token %}
                <div class="form">{{form.as_p}}</div>
                <input type="submit" value="submit">
            </form>
        </div>
        {% for comment in post.comments.all %}
        <br>
        <div>
            {{post.writer}}
            <br>
            └
            <div>
                {{comment.text}}
            </div>
        </div>
        <br>
        <hr>
        {% endfor %}
    </div>

</body>
{% endblock %}