{% load static %}
<link rel="stylesheet" href="/static/diet/create.css">

{% block content %}
    <div class="main">
        <div class="meal_planner">
            <div class="rice"><img src="{% static 'diet/food_sample/쌀_밥.png' %}"></div>
            <div class="soup"><img src="{% static 'diet/food_sample/김치찌개.png' %}"></div>
            <div class="side_menu1"><img src="{% static 'diet/food_sample/간장어묵볶음.PNG' %}"></div>
            <div class="side_menu2"><img src="{% static 'diet/food_sample/계란찜.PNG' %}"></div>
            <div class="side_menu3"><img src="{% static 'diet/food_sample/숙주나물.PNG`' %}"></div>
        </div>
    </div>
{% endblock content %}