#main {
    width: 60%;
    margin: 140px auto 0;
}

.meal_planner {
    text-align: center;
}

.meal_planner div {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.meal_planner div img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 70%;
}