#frame {text-align: center; margin: 0 auto;}
img {width: auto;
    height: 250pt;
    padding: 0px;
    margin-top: 40pt;
    margin-right: 10pt;
}
    
body, button{
    font-family: 'NanumSquare',sans-serif;
    font-weight: 300;
    color: #4F1B1B;
}
#name{
    font-size: 30px;
    padding: 2px;
}
button{
    font-size: 25px;
    width: 350px;
    padding: 15px;
    border-radius: 50px;
    background-color: white;
    border: 2px solid #4FB63F;
}
.non_member {font-size: 20px;}
button:hover {
    background-color: #4FB63F;
    transition-duration: 0.4s;
    color: white;
    border: 2px solid;
    cursor:pointer;
}